Flask-Bootstrap
Flask-Login
Flask-Mail
Flask-Moment
Flask-SQLAlchemy
Flask-WTF
Flask~=1.1.2
PyMySQL
WTForms~=2.3.1
feather-format
google-api-python-client
google-auth
google-auth-httplib2
networkx~=2.4
numpy~=1.19.0
pandas~=1.0.5
python-dotenv~=0.14.0
rauth~=0.7.3
requests~=2.24.0
werkzeug~=1.0.1