{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='portal.css') }}">
{% endblock %}


{% block title %}
    {% if title %}{{ title }}{% else %}C-GEM Members Portal{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Members Portal</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if current_user.is_authenticated and current_user.in_cgem %}
                    <li><a href="http://gem-net.net/">GEM-NET</a></li>
                    <li><a href="https://gem-net.slack.com/">Slack</a></li>
                    <li><a href="https://benchling.com/organizations/gem-net/projects">Benchling</a></li>
                    <li><a href="https://docs.google.com/spreadsheets/d/1PRU1PgIIIDMZunnrHlncGT249vfheckuZxge0lVocf8/edit#gid=0">Strains list</a></li>
                    <li><a href="http://strains.gem-net.net">Strains app</a></li>
                    <li><a href="https://app.asana.com/0/home/394215248197380">Asana</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('oauth_authorize', provider='google') }}">
                        Log in with Google</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {% block scripts_inner %} {% endblock %}
{% endblock %}
