<!-- goes in body -->
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
    {% if current_user.is_authenticated %}
        {% if not current_user.in_cgem %}
            <p>Unfortunately your ID hasn't been recognized. Maybe you
                have a different account associated with C-GEM?
                Try logging out and back in again.</p>
        {% endif %}
    {% else %}
        <div style="display:flex; flex-direction:column; align-items:center;
            min-height: 300px; justify-content:space-around">
        <h1>Welcome to the C-GEM members portal</h1>
        <p style="text-align: center;">To gain access, please log in.<br/>
        If you're not affiliated with C-GEM, why not check out our public site at <a href="http://gem-net.net">gem-net.net</a>?</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('oauth_authorize', provider='google') }}">Log in with Google</a></p>
        </div>
    {% endif %}

    {% if current_user.is_authenticated and current_user.in_cgem %}
    
    <div class="alert alert-info" role="alert">
        <strong>Welcome, {{ current_user.display_name }}!</strong>
        All times are shown in your browser's local timezone ({{ moment().format('LT') }}).
    </div>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">  {# FIRST COLUMN #}
    <h1><i class="far fa-calendar-alt"></i>Upcoming events</h1>
    <p>Browse and create new events at <a href="https://calendar.google.com/calendar/r">Google Calendar</a>. Click a <i class="far fa-question-circle"></i> icon to view the event description.</p>
    <p><strong>Next event {{ moment(cal.df.start.iloc[0]).fromNow() }}.</strong></p>
    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <thead><tr>
            {% set df, cols_show = cal.df, cal.cols_show %}
            {% for col_val, col_name in cols_show.items() %}
                <th>{{ col_name }}</th>
            {% endfor %}
            <th></th>
            </tr></thead>
            <tbody>
            {% for ind, row in df.iterrows() %}
                <tr>
                {% for col_name, val in row.items() %}
                    {% if col_name == 'title' %}
                        <td>
                            <a href="{{ row.loc['url'] }}" target="_blank">{{ val }}</a>
                            {% if row.description %}
                            <span type="button" class="btn btn-xs btn-info" data-toggle="popover" title="Description" data-content="{{ row.description }}"><i class="far fa-question-circle"></i></span>
                            {% endif %}
                        </td>
                    {% elif col_name == "start" %}
                        <td>{{ moment(val).calendar() }}{# COMMENT ({{ moment(val).fromNow() }}) #}</td>
                    {% elif col_name in cols_show %}
                        <td>{{ val }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h1><i class="fas fa-tasks"></i>My assigned tasks</h1>
        <p>To see all your tasks and unassigned tasks in context, check out the
            portal's <a href="asana">Tasks page</a>.</p>
        <div class="table-responsive">
        {% if my_tasks is not none %}
        <p>Your upcoming tasks, ordered by deadline.</p>
        <table class="table table-condensed table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Due</th>
            </tr>
            </thead>
            <tbody>
            {% for _, task in my_tasks.iterrows() %}
            <tr>
            <td>
                {% for proj_name, section_name in task['location'] %}
                    {% set show_location = proj_name %}
                    {% if section_name %}{% set show_location = proj_name ~ ': ' ~ section_name %}{% endif %}
                    <span type="button"
                          style="background-color: {{ abbrv_colors[proj_name][1] }}"
                          class="btn btn-xs btn-info html-notes"
                          data-toggle="popover"
                          data-trigger="click"
                          data-html="true"
                          data-content="{{ show_location }}">
                        {{ abbrv_colors[proj_name][0] }}</span>
                {% endfor %}
                <span class="task-name">
                    <a target="_blank" href="{{ task['url'] }}">
                        {{ task['name'] }}
                    </a>
                </span>
                {% if task['html_notes'] %}
                    <span type="button" class="btn btn-xs btn-info html-notes"
                          data-toggle="popover"
                          data-trigger="click"
                          data-html="true"
                          data-content="{{ task['html_notes'] }}">
                        <i class="far fa-question-circle"></i></span>
                {% endif %}
            </td>
            <td>
                {% if task['due_on'] %}
                    {% if task['overdue'] %}
                        <span class="due-date overdue">
                    {% else %}
                        <span class="due-date">
                    {% endif %}
                    {% if task['due_this_year'] %}
                        {{ moment(task['due_ts']).format("MMM D") }}
                    {% else %}
                        {{ moment(task['due_ts']).format("MMM D, YY") }}
                    {% endif %}
                    </span>
                {% endif %}
            </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p style="font-weight: bold;">You don't have any outstanding tasks. Kudos on your productivity!</p>
        {% endif %}
    </div>


    <h1><i class="fas fa-flask"></i>Strain requests</h1>
    <div class="table-responsive">
        <p>View, request and respond using the <a href="http://strains.gem-net.net" target="_blank">Strains app.</a></p>
        <table class="table table-condensed table-striped table-hover">
            <thead><tr>
            {% set df, cols_show = statuses.df, statuses.cols_show %}
            {% for col_val, col_name in cols_show.items() %}
                <th>{{ col_name }}</th>
            {% endfor %}
            <th></th>
            </tr></thead>
            <tbody>
            {% for ind, row in df.iterrows() %}
                <tr>
                {% for col_name, val in row.items() %}
                    {% if col_name in cols_show %}
                        <td>{{ val }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



    </div>  {# END OF COLUMN #}


    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h1><i class="far fa-file-alt"></i>Recent docs</h1>
    <p>The most recent 20 documents in <a href="https://drive.google.com/drive/folders/0AAiqq6S0lKYWUk9PVA">Team Drive</a> are shown below.</p>
    <div class="table-responsive">
    <table class="table table-condensed table-striped table-hover">
        <thead><tr>
        {% set df, cols_show = docs.df, docs.cols_show %}
        {% for col_val, col_name in cols_show.items() %}
            <th>{{ col_name }}</th>
        {% endfor %}
        <th></th>
        </tr></thead>
        <tbody>
        {% for ind, row in df.iterrows() %}
            <tr>
            {% for col_name, val in row.items() %}
                {% if col_name == 'title' %}
                    <td><a href="{{ row.loc['url'] }}" target="_blank">
                        <span class="mr-1"><img class="mt-1" src="{{ row.loc['icon'] }}" alt="icon"></img></span>
                        {{ val }}
                        </a></td>
                {% elif col_name == "date_modified" %}
                        <td>{{ moment(val).calendar() }}</td>
                {% elif col_name == 'last_user' and val == current_user.display_name %}
                    <td><strong>You!</strong></td>
                {% elif col_name in cols_show %}
                    <td>{{ val }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
  </div>
</div>


    {% endif %} 


{% endblock %}

{% block scripts_inner %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>
{% endblock %}
